<%= form_for @question do |f| %>
  <div class="">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="">
    <%= f.submit %>
  </div>
<% end %>
