<h4><b><%= @question.title %></b></h4>
<p><%= @question.content %></p>
<% if @question.user == current_user %>
  <%= link_to 'Edit', edit_question_path(@question) %>
  <%= link_to 'Delete', question_path(@question), method: :delete, data: { confirm: "Are you sure you want to do this?"} %>
<% end %>
<h4><%= @question.answers.count %> Answers</h4>
<%= render @question.answers %>

<br>
<br>
<br>

<% if current_user %>
  <h4>Your Answer</h4>
  <%= render 'answers/form' %>
<% end %>
